<% if params[:mode] == 'list_mode' %>
  <li class="gadget_list_mode">
    <span><%= gadget.name %></span>
    <span><%= gadget.name %></span>
  </li>
<% else %>
  <li class="thumbnail gadget_cover_flow">
    <div><%= image_tag gadget.image.thumb.url %></div>
    <div class="caption"><%= gadget.name %></div>
  </li>
<% end %>

